# Balatro source code: extract from game files
# Steamodded for additional API support: https://github.com/Steamopollys/Steamodded
api

# Release File
SnoresvilleTurbulentJokers.zip

# Symlinks
SnoresvilleTurbulentJokers/assets/1x/*.png
SnoresvilleTurbulentJokers/assets/2x/*.png

# Web
website/node_modules
website/dist/*